<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/header.js}" type="text/javascript"></script>
    <script th:src="@{/js/profile.js}" type="text/javascript"></script>
</head>
<body>
<div class="header">Онлайн-аптека
    <div id="header" class="container">
        <a href="index" style="margin: 0px 10px;">Главная</a>
        <a href="catalog" style="margin: 0px 10px;">Каталог</a>
        <a href="#" style="margin: 0px 10px;">О нас</a>
        <a href="#" style="margin: 0px 10px;">Контакты</a>
        <a href="auth" style="margin: 0px 10px;">Регистрация / Вход</a>
    </div>
</div>

<div class="container-profile">
    <h2>Данные пользователя</h2>
    <label for="name">Имя:</label>
    <input id="name" class="input-field" type="text" th:value="${name}">
    <label for="email">E-mail:</label>
    <input id="email" class="input-field" type="text" th:value="${email}">
    <button class="btn-block" id="logout">Выйти из аккаунта</button><br>
    <button class="btn-edit" onclick="save_changes()">Сохранить изменения</button>
    <button class="btn-back" onclick="back()">Назад</button>
</div>
</body>
</html>
